.button {
    padding: 1rem 1rem;
    border-radius: 1px;
    font-weight: 700;
    @include ptmono-regular;

    &--primary {
        background-color: $white;
        color: $quiter-silver;
        border: 1px solid $quiter-silver;

        &:hover {
            color: $black;
        }
    }

    &--secundary {
        background-color: $shiny-shamrock;
        color: $white;
        border: 1px solid $shiny-shamrock;
    
    
        &:hover {
            color: $black;
            background-color: $tourquoise-green;
        }
    }

}


