/* Globales */
body {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden; /* Evita el scroll horizontal */
}

html, body {
  margin: 0;
  padding: 0;
}



h1, h2, h3, span{
  @include ptmono-regular;
  padding: 0;
  margin: 0;

}
 