@use "../base/typography" as *;
/* Paleta de colores */
$white: #fff;
$coral: #e2d820;
$flame: #E4572E;
$shiny-shamrock: #4CA866;
$tourquoise-green: #9Dcfab;
$blue-de-fracia: #3C91E6;
$black: #000;
$quiter-silver: #A2A2A2;
 

