@charset "UTF-8";
/* @use "../base/typography" as *; */
/* Paleta de colores */
/* Integradion fonts Poppins */
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Tipografias */
/* Globales */
body {
  max-width: 1440px;
  overflow-x: hidden; /* Evita el scroll horizontal */
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

h1, h2, h3, span {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* max-width: 100%; */ /* Ajusta el ancho máximo */
}

.navbar__link {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar__link--state {
  font-family: "PT Mono", monospace;
  font-weight: 400;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.header__banner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 72%;
  background-image: url("../img/img-1.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 65vh;
}
.header__banner--container {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  align-items: flex-end;
  width: 50%;
  background-color: white;
}
.header__banner-box {
  width: 33%;
  margin: 0 10px;
  padding: 10px;
  font-family: "PT Mono", monospace;
  font-size: calc(0.5rem + 1vw);
  color: white;
}
.header__text {
  width: 28%;
  padding: 1rem 0 0 3rem;
  margin-top: -2rem;
}
.header__text--title {
  font-size: calc(2.2rem + 2vw);
  max-width: 100%;
  font-weight: bold;
}
.header__text--subtitle {
  font-size: calc(0.4rem + 1vw);
  max-width: 100%;
  color: #A2A2A2;
  font-weight: bold;
}
.header__box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.header__box-uno {
  background-color: #e2d820;
  width: 100px;
  height: 100px;
}
.header__box-dos {
  background-color: #E4572E;
  width: 100px;
  height: 100px;
  text-align: center;
  align-content: center;
  color: #fff;
  font-size: 70px;
  position: relative;
  /* Permite el desplazamiento relativo */
  top: -10px;
  /* Desplaza 10px hacia abajo */
  left: -110px;
}

.box-span {
  color: #A2A2A2;
  font-size: 12px;
  font-weight: bold;
}

.footer {
  display: flex;
  /*  flex-wrap: wrap; */
  /* Permite que los elementos se ajusten en varias filas si es necesario */
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  width: 65%;
  /* Ajusta el ancho máximo */
}
.footer__info {
  width: 40%;
  padding: 0 1rem;
}
.footer__imagen {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  /* Necesario para el posicionamiento absoluto de las imágenes hijas */
  background-color: #3C91E6;
}
.footer__imagen--banner {
  width: 100%;
  height: auto;
}
.footer__imagen--uno {
  flex: 1 1 20%;
  position: relative;
  /* Permite el desplazamiento relativo */
  top: 10px;
  /* Desplaza 10px hacia abajo */
  left: -50px;
  /* Desplaza 10px hacia la izquierda */
}
.footer__imagen--dos {
  flex: 1 1 50%;
  position: absolute;
  /* Posiciona la imagen de forma absoluta */
  top: 0;
  /* Alinea la imagen en la parte superior del contenedor */
  left: 100%;
  /* Mueve la imagen al centro horizontal del contenedor */
  transform: translateX(-50%);
  /* Centra la imagen horizontalmente */
  height: 70%;
  /* Ajusta la altura de la imagen */
  width: 20%;
  /* Permite que la imagen mantenga su proporción */
}
.footer__imagen--tres {
  flex: 1 1 30%;
}

.info-title {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  font-family: "PT Mono", monospace;
  margin-bottom: 1.6rem;
}

.info-subtitle {
  color: #A2A2A2;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.button {
  padding: 1rem 1rem;
  border-radius: 1px;
  font-weight: 700;
  font-family: "PT Mono", monospace;
}
.button--primary {
  background-color: #fff;
  color: #A2A2A2;
  border: 1px solid #A2A2A2;
}
.button--primary:hover {
  color: #000;
}
.button--secundary {
  background-color: #4CA866;
  color: #fff;
  border: 1px solid #4CA866;
}
.button--secundary:hover {
  color: #000;
  background-color: #9Dcfab;
}

.link {
  text-decoration: none;
  color: #A2A2A2;
}
.link:hover {
  color: #000;
}/*# sourceMappingURL=main.css.map */