@charset "UTF-8";
/* @use "../base/typography" as *; */
/* Paleta de colores */
/* Integradion fonts Poppins */
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Tipografias */
/* Globales */
body {
  max-width: 1440px;
  overflow-x: hidden; /* Evita el scroll horizontal */
  margin: 0 auto;
  padding: 0;
}

h1, h2, h3, span {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* max-width: 100%; */ /* Ajusta el ancho máximo */
}

.navbar__link {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar__link--state {
  font-family: "PT Mono", monospace;
  font-weight: 400;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  /* Ajusta el ancho máximo */
}
.header__img {
  width: 72%;
}
.header__img--banner {
  width: 100%;
}
.header__text {
  width: 28%;
  padding: 3rem 0 0 3rem;
}
.header__text--title {
  font-size: calc(2.2rem + 2vw);
  max-width: 100%;
  font-weight: bold;
}
.header__text--subtitle {
  font-size: calc(0.4rem + 1vw);
  max-width: 100%;
  color: #A2A2A2;
  font-weight: bold;
}

.footer {
  display: flex;
  /*  flex-wrap: wrap; */
  /* Permite que los elementos se ajusten en varias filas si es necesario */
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 65%;
  /* Ajusta el ancho máximo */
}
.footer__info {
  width: 40%;
  padding: 0 1rem;
  background-color: yellow;
}
.footer__imagen {
  width: 50%;
  /* Ajusta el contenedor al 50% del ancho de su padre */
  background-color: yellowgreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative; /* Necesario para el posicionamiento absoluto de las imágenes hijas */
}
.footer__imagen--banner {
  width: 100%;
  height: auto;
}
.footer__imagen--small {
  flex: 1 1 20%;
}
.footer__imagen--medium {
  flex: 1 1 20%;
  position: absolute;
  /* Posiciona la imagen de forma absoluta */
  top: 0;
  /* Alinea la imagen en la parte superior del contenedor */
  left: 50%;
  /* Mueve la imagen al centro horizontal del contenedor */
  transform: translateX(-50%);
  /* Centra la imagen horizontalmente */
  height: 30%;
  /* Ajusta la altura de la imagen */
  width: auto;
  /* Permite que la imagen mantenga su proporción */
}
.footer__imagen--large {
  flex: 1 1 30%;
}

.button {
  padding: 1rem 1rem;
  border-radius: 1px;
  font-weight: 700;
  font-family: "PT Mono", monospace;
}
.button--primary {
  background-color: #fff;
  color: #A2A2A2;
  border: 1px solid #A2A2A2;
}
.button--primary:hover {
  color: #000;
}
.button--secundary {
  background-color: #4CA866;
  color: #fff;
  border: 1px solid #4CA866;
}
.button--secundary:hover {
  color: #000;
  background-color: #9Dcfab;
}

.link {
  text-decoration: none;
  color: #A2A2A2;
}
.link:hover {
  color: #000;
}/*# sourceMappingURL=main.css.map */