.footer {
    display: flex;
    /*  flex-wrap: wrap; */
    /* Permite que los elementos se ajusten en varias filas si es necesario */
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    width: 65%;
    /* Ajusta el ancho máximo */

    &__info {
        width: 40%;
        padding: 0 1rem;

    }

    &__imagen {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        /* Necesario para el posicionamiento absoluto de las imágenes hijas */
        background-color: $blue-de-fracia;

        &--banner {
            width: 100%;
            height: auto;
        }

        &--uno {
            flex: 1 1 20%; // Ajusta la flexibilidad y el tamaño relativo de la imagen
            position: relative;
            /* Permite el desplazamiento relativo */
            top: 10px;
            /* Desplaza 10px hacia abajo */
            left: -50px;
            /* Desplaza 10px hacia la izquierda */
        }

        &--dos {
            flex: 1 1 50%;
            position: absolute;
            /* Posiciona la imagen de forma absoluta */
            top: 0;
            /* Alinea la imagen en la parte superior del contenedor */
            left: 100%;
            /* Mueve la imagen al centro horizontal del contenedor */
            transform: translateX(-50%);
            /* Centra la imagen horizontalmente */
            height: 70%;
            /* Ajusta la altura de la imagen */
            width: 20%;
            /* Permite que la imagen mantenga su proporción */
        }

        &--tres {
            flex: 1 1 30%;

        }
    }
}

.info-title {
    color: $black;
    font-size: $x-large;
    font-weight: bold;
    font-family: $ptmono;
    margin-bottom: 1.6rem;
}

.info-subtitle {
    color: $quiter-silver;
    font-size: $medium;
    font-weight: bold;
    font-family: $roboto;
}