.footer {
    display: flex;
   /*  flex-wrap: wrap; */
    /* Permite que los elementos se ajusten en varias filas si es necesario */
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 65%;
    /* Ajusta el ancho máximo */

    &__info {
        width: 40%;
        padding: 0 1rem;
        background-color: yellow;
    }

    &__imagen {
        width: 50%;
        /* Ajusta el contenedor al 50% del ancho de su padre */
        background-color: yellowgreen;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative; /* Necesario para el posicionamiento absoluto de las imágenes hijas */

        &--banner {
            width: 100%;
            height: auto;
        }

        &--small {
            flex: 1 1 20%; // Ajusta la flexibilidad y el tamaño relativo de la imagen
        }

        &--medium {
            flex: 1 1 20%;
            position: absolute;
            /* Posiciona la imagen de forma absoluta */
            top: 0;
            /* Alinea la imagen en la parte superior del contenedor */
            left: 50%;
            /* Mueve la imagen al centro horizontal del contenedor */
            transform: translateX(-50%);
            /* Centra la imagen horizontalmente */
            height: 30%;
            /* Ajusta la altura de la imagen */
            width: auto;
            /* Permite que la imagen mantenga su proporción */
        }

        &--large {
            flex: 1 1 30%;
        }
    }
}