.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    &__banner {
        display: flex;
        justify-content: flex-end; // Alinea al final horizontalmente
        align-items: flex-end; // Alinea al final verticalmente
        width: 72%;
        background-image: url("../img/img-1.png");
        background-repeat: no-repeat;
        background-size: 100% auto; // Ajusta el ancho y permite que la altura sea automática
        height: 65vh; // Altura relativa al viewport
        
        &--container {
            display: flex;
            padding: 1rem;
            flex-direction: row;
            align-items: flex-end;
            width: 50%; // Ocupa la mitad del contenedor padre
            background-color: white; // Añade un fondo para visibilidad
        }

        &-box {
            width: 33%;
            margin: 0 10px; // Espacio entre las cajas
            padding: 10px; // Añade padding para que el texto no esté pegado a los bordes
            font-family: $ptmono;
            font-size: calc(0.5rem + 1vw); // Tamaño de fuente ajustable basado en el viewport
            color: white; // Asegúrate de que el texto sea visible
        }
    }



    &__text {
        width: 28%;
        padding: 1rem 0 0 3rem;
        margin-top: -2rem;


        &--title {
            font-size: calc(2.2rem + 2vw); // tamaño de fuente ajustable basado en el viewport
            max-width: 100%; // asegúrate de que el texto no se desborde del contenedor
            font-weight: bold;
        }

        &--subtitle {
            font-size: calc(0.4rem + 1vw); // tamaño de fuente ajustable basado en el viewport
            max-width: 100%; // asegúrate de que el texto no se desborde del contenedor
            color: $quiter-silver;
            font-weight: bold;
        }
    }

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    

        &-uno {
            
            background-color: $coral;
            width: 100px;
            height: 100px;
        }

        &-dos {
            background-color: $flame;
            width: 100px;
            height: 100px;
            text-align: center;
            align-content: center;
            color:$white;
            font-size: $xxx-large;

            position: relative;
            /* Permite el desplazamiento relativo */
            top: -10px;
            /* Desplaza 10px hacia abajo */
            left: -110px;
        }
    }

}

.box-span {
    color: $quiter-silver;
    font-size: $small;
    font-weight: bold;
}